@model EcommerceCheckout.Web.Models.Entities.Cart

<h1>Carello:</h1>
<p>Token: @Model.CartToken</p>

<div id="cart-alert" style="color: red;"></div>

@if (!Model.Items.Any())
{
    <p>Il carello é vuoto.</p>
}
else
{
    <ul>
        @foreach (var item in Model.Items)
        {
            <li data-product-id="@item.ProductId">
                @item.Product.Name - 
                Quantità: <span class="qty-value">@item.Quantity</span> - 
                Prezzo: <span class="qty-price">@item.UnitPrice</span>
                <button class="qty-minus" data-product-id="@item.ProductId">-</button>
                <button class="qty-plus" data-product-id="@item.ProductId">+</button>
                <button class="qty-remove" data-product-id="@item.ProductId">Rimuovi</button>
            </li>
        }
    </ul>
}

@section Scripts
{
    <script src="~/js/cart.js"></script>
}
